@font-face {
    font-family: custom;
    src: url(Wide.ttf);
}
*{
    margin: 0;
    padding: 0;
    font-family: custom;
    
    }

.navibar{
    width: 85%;
    margin: auto;
    padding: 31px ;
    display: flex;
    align-items: center;
    justify-content: space-between;
    }
    
    .navibar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 45px;
    position: relative;
    align-items: center;
    
    }
    
    .navibar ul li a{
    text-decoration: none;
    color: red;
    text-transform: uppercase;
    
    }
    
    .navibar ul li::after{
    content:'';
    height: 3px;
    width: 0;
    background: black;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
    }
    
    .navibar ul li:hover::after{
    width: 100%;
    background: black;
    position: absolute;
    left: 0;
    }
  
    .sub-menu-wrap{
        position: absolute;
        top: 10%;
        right: 3%;
        width: 230px;
        max-height: 0px;
        overflow: hidden;
        transition: max-height 0.5s;
        border-radius: 5%;
        z-index: 5;
    }
    .sub-menu-wrap.open-menu{
        max-height: 200px;
        z-index: 5;
    }
    .sub-menu{
        background: #fff;
        padding: 20px;
        margin: 10px;
        z-index: 5;
  
    }
    .user-info{
        display: flex;
        align-items:center;
        background: white;
        z-index: 5;
    }
    .user-info h2{
        font-weight: 500;
        background: white;
        z-index: 5;
    }
    .user-info img{
        width: 35px;
        border-radius: 50%;
        margin-right: 15px;
        margin-bottom: 5px;
        background: #ccc;
        z-index: 5;
    }
    .user-info hr{
        border: 0;
        height: 1px;
        width: 10%;
        background: #ccc;
        margin: 15px 0 10px;  
        z-index: 5; 
    }
    .sub-menu-link{
        display: flex;
        align-items: center;
        text-decoration: none;
        color: black;
        margin: 10px 0;
        font-size: 10px;
        background: white;
        z-index: 5;
    }
    .sub-menu-link p{
        width: 100%;
        background: white;
        z-index: 5;
    }
    .sub-menu-link img{
        width: 30px;
        background: #fff;
        border-radius: 50%;
        padding: 8px;
        margin-right: 15px;
        z-index: 5;
    }
  
    .sub-menu-link:hover p{
        font-weight: 600;
        color: red;
        z-index: 5;
    }

.container{
    text-align: center;
    background: white;
}
.head{
    padding-top: 30px;
    color: red;
    font-size: 20px;
    margin: auto;
    line-height: 50px;
}
.sub-container{
    max-width: 1200px;
    margin: auto;
    padding: 30px 0;
    display: flex ;
    flex-wrap: wrap;
    justify-content: center;
}
.teams{
    margin: 10px;
    padding: 22px;
    max-width: 30%;
    cursor: pointer;
    transition: 0.4s;
    box-sizing: border-box;
}

.teams:hover{
    background: #ddd;
    transform: scale(1.2);
}
.teams img{
    border-radius: 50%;
    width: 230px;
    height: 230px;
    padding-bottom: 10px;

}
.name{
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
}

.job{
    font-style: italic;
    color: #888;
}
.id{
    margin-bottom: 20px;
    color: #4e4e4e;
}
.about{
    font-weight: lighter;
}
.social-links{
    margin: 14px;
}
.social-links a{
    display: inline-block;
    height: 30px;
    width: 30px;
    transition: .4s;
}

.social-links a{
    color:red;
}


.container-sites{
text-align: center;
font-size: 12px;
color: red;

}
.associated-sites i {
    color: red;
    font-size: 12px;
    margin-right: 10px;
    text-align: center;
    margin-top: 5px;
  }
  .associated-sites {
    display: flex;
    justify-content: center;
    font-size: 12px;
  }
  
  .associated-sites a {
    margin: 0 5px;
  }
  
  
  footer {
    background-color: dark gray;
    color: red  ;
    padding: 10px 0;
    text-align: center;
  }